<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <%= msg %><br/>
    <% end  %>
<% end %>
<div class="form-group">
  <%= f.text_field :username  %>
</div>
<div class="form-group">
  <%= f.text_field  :email %>
</div>
<div class="form-group">
  <%= f.text_field  :city %>
</div>
<div class="form-group">
  <%= f.text_field  :age %>
</div>
<%= f.submit %>