<h3>Kullanıcı Adı: <%= @user.username %></h3><br/>
<p>Email: <%= @user.email %></p><br/>
<p>City: <%= @user.city %></p><br/>
<h3>Yaş: <%= @user.age %></h3><br/>
<%= link_to 'Kullanıcı listesine dön', users_path %>
